body {
  background: url('../img/fondologin.png') no-repeat center center fixed;
  background-size: 1550px 705px; /* Ajusta la imagen dentro del body, manteniendo proporciones */
  color: #fff;
  font-family: Arial, sans-serif;
  overflow: hidden; /* Evita el scroll si no es necesario */
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}


.container-login {
  display: none; /* Oculta las columnas y el contenido extra */
}

.body-login {
  width: 400px; /* Cambia según lo necesites */
  height: 230px; /* Cambia según lo necesites */
  position: relative;
  background-color: #3b4041;
  color: #fff;
  padding: 50px;
  border-radius: 70px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8), /* Efecto neón */
              0px 0px 20px rgba(255, 255, 255, 0.6), 
              0px 0px 30px rgba(255, 255, 255, 0.4);
  border: 3px solid #ffffff; /* Cambia el grosor ajustando el valor */
  z-index: 10;
  margin-top: 11px;
}

.content-login .title {
  margin-top: -30px;
  display: flex;
  font-size: 40px;
  transform: translateX(110px);
}

.content-login .sub-title {
  display: flex;
  font-size: 25px;
  transform: translateX(5px);
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
  
}

.input-group input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: none;
  background-color: #555;
  color: #fff;
  font-size: 16px;
}

.toggle-password {
  position: absolute;
  top: 50%;
  left: 97%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px; /* Tamaño del icono */
}

.group-buttons {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
}

[class*="button"] {
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.remember-button {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.8);
}

.login-button {
  flex: 1;
  background-color: #00aaff;
}
